<div class="container-fluid">
  <div class="row guacamaya">
    <div class="row guacamaya-title row-left">
      <div class="col-12">
        <h1>VIAJA A TU MANERA</h1>
      </div>
      <div class="col-5"></div>
      <div class="col-2">
        <hr class="line line-title" />
      </div>
    </div>
    <div class="col-12">
      <div class="row  row-left travel-section ">
        <div class="col-2"></div>
        <div class="col-4">
          <div class="row">
            <div class="col-12">
              <h1>Solo en Venezuela</h1>
            </div>
            <div class="col-4">
              <hr class="line " />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <img class="guacamaya-img" src="../assets/roraima.jpg" />
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  <h3>Monte Roraima</h3>
                </div>
                <div class="col-12 block-with-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    faucibus, a pellentesque senectus erat vestibulum hendrerit
                    himenaeos, cum auctor quisque quis suscipit sodales nibh
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row space-top">
            <div class="col-6">
              <img class="guacamaya-img" src="../assets/coro.jpg" />
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  <h3>Medanos de Coro</h3>
                </div>
                <div class="col-12 block-with-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    faucibus, a pellentesque senectus erat vestibulum hendrerit
                    himenaeos, cum auctor quisque quis suscipit sodales nibh
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 big-info">
          <h1>Nuestra hermosa cordillera de los Andes</h1>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
  <div class="row popular">
    <div class="col-12 guacamaya-title">
      <h1>Destinos populares</h1>
    </div>
    <div class="col-5"></div>
    <div class="col-2">
      <hr class="line line-title" />
    </div>

    <div class="col-12">
      <carousel
        [itemsPerSlide]="itemsPerSlide"
        [singleSlideOffset]="singleSlideOffset"
        [noWrap]="!noWrap"
        [interval]="false"
        [startFromIndex]="5"
        (slideRangeChange)="onSlideRangeChange($event)"
      >
        <slide *ngFor="let slide of slides; let index = index">
          <img [src]="slide.image" alt="image slide" class="carousel-img" />
          <div class="carousel-caption">
            <h4>Slide {{ index }}</h4>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
  <div class="row services">
    <div class="col-12 guacamaya-title">
      <h1>Servicios Turisticos</h1>
    </div>
    <div class="col-12 guacamaya-subtitle">
      <h4>
        Guacamaya Travel ofrece los siguientes servicios turísticos para
        brindarte la mayor comodidad en tus viajes
      </h4>
    </div>
    <div class="col-5"></div>
    <div class="col-2">
      <hr class="line line-title" />
    </div>
    <div class="col-12 service-separator">
      <div class="row">
        <div class="col-4 guacamaya-subtitle">
          <div class="row service service-container">
            <div class="col-2"></div>
            <div class="col-6 image-container">
              <img class="service-img" src="../assets/avion.png" alt="avion" />
            </div>
            <div class="col-2"></div>
          </div>
          <div class="col-12 guacamaya-subtitle">
            <h4>Destinos Turísticos</h4>
          </div>
        </div>
        <div class="col-4 guacamaya-subtitle">
          <div class="row service service-container">
            <div class="col-2"></div>
            <div class="col-6 image-container">
              <img class="service-img" src="../assets/hotel.png" alt="avion" />
            </div>
            <div class="col-2"></div>
          </div>
          <div class="col-12 guacamaya-subtitle">
            <h4>Hoteles</h4>
          </div>
        </div>
        <div class="col-4 guacamaya-subtitle">
          <div class="row service service-container">
            <div class="col-2"></div>
            <div class="col-6 image-container">
              <img class="service-img" src="../assets/agenda.png" alt="avion" />
            </div>
            <div class="col-2"></div>
          </div>
          <div class="col-12 guacamaya-subtitle">
            <h4>Planea tu viaje</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
