.guacamaya {
  background-image: url("../assets/guacamaya.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.guacamaya-title {
  text-align: center;
  width: 100%;
}

.row-left {
  margin-left: 0;
}

.line {
  border: 2px solid #ffce00;
}
.line-title {
  margin-right: 18%;
  margin-left: 23%;
}

.travel-section {
  margin-top: 18%;
  padding-bottom: 1.5%;
}

.guacamaya-img {
  width: 100%;
}

.space-top {
  margin-top: 2%;
}

.big-info {
  background-image: url("../assets/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 7em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
