<div class="container-fluid">
 
  <div class="row">
    <div class="col-xs-12 col-md-4" style="background-color:yellow;">
    
    </div>
    <div class="col-xs-12 col-md-8" style="background-color:pink;">
     
<div class="carousel">
  <carousel [pauseOnFocus]="true">
    <slide>
      <img src="https://i0.wp.com/4.bp.blogspot.com/-bKd1X95A6H8/WucqG52j9zI/AAAAAAAAVPM/0QGBp5Fcj8IRlCeaG1_6eSL63P2EfNdiwCLcBGAs/s1600/maxresdefault.jpg?ssl=1" alt="First slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide>
      <img src="https://i.ytimg.com/vi/aGv_MitUe7A/maxresdefault.jpg" alt="Second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide>
      <img src="http://www.araguato.org/sites/default/files/Sandboard%20%20araguato.org-2_0.jpg?slideshow=true&slideshowAuto=false&slideshowSpeed=3000&speed=350&transition=elastic" alt="Third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>
  </div>
    </div>
  </div>
</div>
    
