<div class="container-fluid">
  <div class="row guacamaya">
    <div class="row guacamaya-title row-left">
      <div class="col-12">
        <h1>VIAJA A TU MANERA</h1>
      </div>
      <div class="col-5"></div>
      <div class="col-2">
        <hr class="line line-title" />
      </div>
    </div>
    <div class="col-12">
      <div class="row  row-left travel-section ">
        <div class="col-2"></div>
        <div class="col-4">
          <div class="row">
            <div class="col-12">
              <h1>Solo en Venezuela</h1>
            </div>
            <div class="col-4">
              <hr class="line " />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <img class="guacamaya-img" src="../assets/roraima.jpg" />
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  <h3>Monte Roraima</h3>
                </div>
                <div class="col-12 block-with-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    faucibus, a pellentesque senectus erat vestibulum hendrerit
                    himenaeos, cum auctor quisque quis suscipit sodales nibh
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row space-top">
            <div class="col-6">
              <img class="guacamaya-img" src="../assets/coro.jpg" />
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-12">
                  <h3>Medanos de Coro</h3>
                </div>
                <div class="col-12 block-with-text">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elit
                    faucibus, a pellentesque senectus erat vestibulum hendrerit
                    himenaeos, cum auctor quisque quis suscipit sodales nibh
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 big-info">
          <h1>Nuestra hermosa cordillera de los Andes</h1>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
</div>
